.app-nav {
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: #DD4814;
}
.app-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.app-nav ul li {
  display: inline;
  a {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px 0 20px;
    border-right: 1px solid gray;
    cursor: pointer;
  }
  a.link {
    &:hover {
      background-color: #97310E;
    }
  }
  a.title {
    background-color: lighten(#DD4814,50%) !important;
  }
}
